.Nav-bar {
    display: flex;
    gap: 4px;
    
}
.Nav-bar a{
    text-decoration: none;
}

.profile-pic{
    width: 200px;
    height: auto;
}

.afterpfp{
    opacity: 0.6;
    width: auto;
}
.after-about{
    opacity: 0.6;
    width: auto;
}
.after-skill{
    opacity: 0.6;
    width: auto;
}
.footer{
    color:rgb(3, 3, 61);
    background-color: rgb(238, 238, 201);
}